
gen/
build/
test/ 
.tmp.drivedownload/

.tmp.drivedownload/*
gen/*
build/*
test/*

.tmp.drivedownload
.packages
.flutter-plugins
.packages
.pubsec.lock
.dart_tool
android/.gradle
.idea/
.vscode/
test_drive/screenshots/
*.DS_Store
.packages
pubspec.lock