<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670051004056-62kmskd3btse6nt5bmkon6fd77ftlsph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670051004056-62kmskd3btse6nt5bmkon6fd77ftlsph</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>670051004056-uvb4ll0tmkhi40tq7k5hlfm0qd7tg0qr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXYX4kPr2swY_QGpvMTHRpwz-XVnfkSok</string>
	<key>GCM_SENDER_ID</key>
	<string>670051004056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yamisok.appsv2</string>
	<key>PROJECT_ID</key>
	<string>yamisok-c3ca8</string>
	<key>STORAGE_BUCKET</key>
	<string>yamisok-c3ca8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670051004056:ios:6fe38c2658bcd97a03aaed</string>
	<key>DATABASE_URL</key>
	<string>https://yamisok-c3ca8.firebaseio.com</string>
</dict>
</plist>